@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
body{
padding:0;
margin: 0;
box-sizing: border-box;
font-family: "Bai Jamjuree"; 
}
header {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    height: 150px;
    text-align: center;
}
.logo-img {
    margin: 30px;
    width: 50px;
}
h1._sect {
    text-align: center;
    font-size: 30px;
 /* margin-left: 80px; */
}
p.bet {
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
}
div.key {
    font-size: 22px;
    text-align: center;
    margin-top: 100px;
}
.sectC-title {
    font-size: 14px;
    color: hsl(210, 10%, 33%);
    font-size: 22px;
}
button.but1 {
    padding: 10px 15px;
    border-radius: 24px;
    background-color: hsl(171, 66%, 44%);
    border: hsl(171, 66%, 44%);
    color: white;
}
button.but2 {
    padding: 10px 15px;
    border-radius: 24px;
    background-color: hsl(233, 100%, 69%);
    margin-left: 20px;
    border: hsl(233, 100%, 69%);
    color: white;
}
.sectC {
    margin-top: 95px;
    display: block;
}.sectC-img {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    width: 400px;
    margin-left: 20px;
}
.sectD-content {
    text-align: center;
    font-size: 20px;
}
.sectE-img {
    width: 400px;
}
.sectE {
    text-align: center;
    margin-top: 60px;
	
}
.sectF-title {
    color: hsl(210, 10%, 33%);
    font-size: 30px;
}
.sectF {
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}
.sectG {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-left: 40px;
}
.sectH {
    display: block;
    margin-top: 50px;
    margin-left: 40px;
    text-align: center;
}
.sectI-title {
    margin-top: -2px;
    font-size: 45px;
    color: hsl(210, 10%, 33%);
}
.sectI-desc {
    font-size: 28px;
    margin-top: -2px;
    color: hsl(210, 10%, 33%);
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px){
	
}
@media only screen and (max-width: 1024), only screen and (max-device-width: 1200px){
	
}
  